<div class="contextual-region block block-system block-system-menu-blockfooter block--xtra-footer block--system-menu ms-2 mb-4 ps-1 w-25 lh-lg" data-component-id="xtra:block">
<ul class="nav">
<li class="nav-item me-2">
<a class="text-white" href="https://www.facebook.com/WashCoOregon/" alt="{{ 'Facebook'| t }}">
<span class="d-flex align-items-center">
<i class="fal fa-facebook-f text-white me-2"></i><span class="text-nowrap">Facebook</span>
</span>
</a>
</li>
<li class="nav-item me-2">
<a class="text-white" href="http://www.youtube.com/WashingtonCntyOregon" alt="{{ 'YouTube'| t }}">
<span class="d-flex align-items-center">
<i class="fal fa-youtube text-white me-2"></i><span class="text-nowrap">YouTube</span>
</span>
</a>
</li>
<li class="nav-item me-2">
<a class="text-white" href="https://www.instagram.com/washingtoncountyor/" alt="{{ 'Instagram'| t }}">
<span class="d-flex align-items-center">
<i class="fal fa-instagram text-white me-2"></i><span class="text-nowrap">Instagram</span>
</span>
</a>
</li>
<li class="nav-item me-2">
<a class="text-white" href="http://www.x.com/washcooregon" alt="{{ 'X (Twitter)'| t }}">
<span class="d-flex align-items-center">
<i class="fal fa-x-twitter text-white me-2"></i><span class="text-nowrap">X (Twitter)</span>
</span>
</a>
</li>
<li class="nav-item me-2">
<a class="text-white" href="/newsletters" alt="{{ 'Newsletters'| t }}">
<span class="d-flex align-items-center">
<i class="fal fa-envelope text-white me-2"></i><span class="text-nowrap">Newsletters</span>
</span>
</a>
</li>
<li class="nav-item me-2">
<a class="text-white" href="https://www.linkedin.com/company/washington-county" alt="{{ 'LinkedIn'| t }}">
<span class="d-flex align-items-center">
<i class="fal fa-linkedin-in text-white me-2"></i><span class="text-nowrap">LinkedIn</span>
</span>
</a>
</li>
<li class="nav-item me-2">
<a class="text-white" href="/podcast" alt="{{ 'Podcast'| t }}">
<span class="d-flex align-items-center">
<i class="fal fa-microphone text-white me-2"></i><span class="text-nowrap">Podcast</span>
</span>
</a>
</li>
</ul>
</div>

