{%
  set page_main_classes = [
  ]|merge(page_main_utility_classes ? page_main_utility_classes : [])
%}

{% set url = url('<current>') %}
{% if (route_name == 'entity.group.canonical') or
('/search' in url|render|render) or
('/news' in url|render|render) or
('/events' in url|render|render) or
('/directory' in url|render|render) or
('/groups' in url|render|render) or
(route_name == 'view.news.page_front') %}
  {%
    set header_classes = [
    'page__header',
    'container-fluid',
    'bg-faded-blue',
    'border-bottom',
    'border-4',
    'border-primary',
    'mb-4',
    ]
  %}
{% else %}
  {%
    set header_classes = [
    'page__header',
    'container-fluid',
    'border-bottom',
    'border-4',
    'border-primary',
    'mb-4',
    ]
  %}
{% endif %}
<main{{ content_attributes.addClass(page_main_classes) }} id="main-content">
  {# Only show preheader if it exists. Note this will not prevent placeholders
  (such as primary tabs) from rendering twig debug output, but it will hide
  the region in production. #}
  {% set preheader_render = page.preheader|render %}
  {% if preheader_render|trim  %}
    <div class="page__preheader">
      <div class="container-fluid bg-faded-gray">
        <div class="container">
          {{ preheader_render }}
        </div>
      </div>
    </div>
  {% endif %}
  {% set header_render = page.header|render %}
  {% if header_render|trim %}
    <header{{ attributes.addClass(header_classes) }}">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-2 align-items-center">
          <div class="col py-4">
            {{ header_render}}
          </div>
          {% set featured_image_render = page.featured_image|render %}
          {% if featured_image_render|trim %}
            {% set current_url = url|render|render %}
            {# Strip off any query params if present #}
            {% set path_only = current_url|split('?')[0] %}
            {% if current_url ends with '/news' or current_url ends with '/events' or current_url ends with '/events/holidays' or current_url ends with '/events/past' or current_url ends with '/directory' or current_url ends with '/directory/departments' or current_url ends with '/directory/services' or current_url ends with '/groups' or current_url ends with '/my-groups' %}
              <div class="col d-none d-md-flex justify-content-end">
            {% else %}
              <div class="col d-flex justify-content-end">
            {% endif %}
            {{ featured_image_render }}
          </div>
          {% endif %}
        </div>
      </div>
    </header>
  {% endif %}
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        {% if page.content %}
          <div class="page__content col-md-12 col-lg-8">
              {% block page_inner_content %}
                {{ page.content }}
              {% endblock %}
          </div>
        {% endif %}
        {# Unlike the preheader, we can completely hide an empty sidebar because
        the region does not rely on placeholders. #}
        {% set sidebar_render = page.sidebar|render %}
        {% if sidebar_render|trim  %}
          <div id="side" class="page__sidebar col-md-12 col-lg-4">
            {{ sidebar_render }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</main>
